p {
    height: 50px;
    background: repeating-linear-gradient(black 35%, yellow ,
 green 60%);
 color: white;
    }

.X {
    height: 50px;
    background: radial-gradient(red, blue, purple);
    color: white;
    }

.Y {
    height: 100px;
    background: radial-gradient(rgb(253, 2, 2) 10%, blue 30%, green 60%);
    color: white;
    }

.Z {
    height: 100px;
    background: repeating-radial-gradient(gold, yellow 10%,purple 20%);
    color: white;
    }